
.episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.episode {
  flex-basis: 28%;
  margin: 3em;
  padding: 1em;
  transition: 0.3s;
  position: absolute;
  background: #D9D9D9;
  opacity: 0.8;
  box-shadow: 16px 16px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

img {
  width: 50px;
}

.card-content {
  /* padding: .5em; */
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: bold;
  color: rgb(43, 112, 241);
}

.card-content p {
  font-size: 80%;
  color: darkslategrey;
}

.content-petname {
  color: darkslategrey;
}

.card button {
  background-color: cornflowerblue;
  border: none;
  color: cornsilk;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: .5em;
  border-radius: 2px;
  margin: .1em;
  width: 100%;
}

.card button:hover {
  background-color: darkblue;
}


/* episode card */
.card {
  transition: 0.3s;
  margin-bottom: 2em;
  flex: 0 1 24%;
  position: absolute;
  background: #D9D9D9;
  opacity: 0.8;
  box-shadow: 16px 16px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.text-section-1
{
  position: absolute;
  width: 1434px;
  height: 358px;
}

.text-section-2
{
  position: absolute;
  width: 1432px;
  height: 497px;
}


.audio-video-image-section
{
  position: absolute;
  width: 1432px;
  height: 1105px;
}

.episode__individualVideo
{
  margin: 1em;
  border: 1px solid gray;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.episode__imageGallery
{
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;

}

.episode__imageContainer
{
flex: 0 1 24%;
}

.episode__individualImage
{
 width: 100%;
 border: 1px solid gray;
 box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.episode__videoGallery
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}