/* #root > .card {
  max-width: 400px;
  margin: 10px auto;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
} */

.episode__imageGalleryCaptions {
  font-size: small;
}

.episode__imageGallerySourceLink {
  font-size: smaller;
}