/* .episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* episode card - details view*/
.episode {
  flex-basis: 28%;
  margin: 3em;
  padding: 1em;
  transition: 0.3s;
  position: absolute;
  background: #D9D9D9;
  opacity: 0.8;
  box-shadow: 16px 16px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/* episode card - list view */
.card {
  transition: 0.3s;
  margin: 1em;
  padding: 1em;
  flex: 0 1 24%;
  background: #D9D9D9;
  opacity: 0.8;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/* container for everything on the list view card */
.card-content {

  width: 100%;
  height: 100%;
  border: blue solid 1px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
/* post title on the list view card */
.card-content h3 {
  margin-top: 0;
  font-weight: bold;
  color: rgb(128, 38, 90);
  border: black solid 1px;
}

/* container for buttons on list view cards */
.episode__buttonContainer
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* buttons on the episode list view cards */
.card button {
  background-color: rgb(236, 145, 214);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: rgb(38, 39, 56);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: .5em;
  border-radius: 2px;
  margin: 0.5em;
  width: 100px;
}

/* buttons on the all episodes page */
.card button:hover {
  background-color: rgb(124, 2, 94);
  box-shadow: none;
  color: white;
}




/* 
.text-section-1
{
  position: absolute;
  width: 1434px;
  height: 358px;
}

.text-section-2
{
  position: absolute;
  width: 1432px;
  height: 497px;
}


.audio-video-image-section
{
  position: absolute;
  width: 1432px;
  height: 1105px;
}

.episode__individualVideo
{
  margin: 1em;
  border: 1px solid gray;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.episode__imageGallery
{
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;

}

.episode__imageContainer
{
flex: 0 1 24%;
}

.episode__individualImage
{
 width: 100%;
 border: 1px solid gray;
 box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.episode__videoGallery
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
} */ 